.Cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .parentContainer{
    width: 300px;
  }
  
  @media screen and (max-width: 1200px) {
   
    
  }
  
  @media screen and (max-width: 768px)
  {
    .Cards{
      width: 100%;
    }
  }